
<section class="popular-courses-area section-padding-100">
  <div class="container">
      <div class="row">
          <!-- Single Popular Course -->
          <div class="col-12 col-md-6 col-lg-4" *ngFor = 'let list of listArray'>
              <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                  <img src="img/bg-img/c1.jpg" alt="">
                  <!-- Course Content -->
                  <div class="course-content">
                      <h4>{{list.coursename}}</h4>
                      <div class="meta d-flex align-items-center">
                          <a href="#">{{list.trainerNamr}}</a>
                          <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                          <a href="#">Art &amp; Design</a>
                      </div>
                      <p>{{list.descripation}}</p>
                  </div>
                  <!-- Seat Rating Fee -->
                  <div class="seat-rating-fee d-flex justify-content-between">
                      <div class="seat-rating h-100 d-flex align-items-center">
                          <div class="seat">
                              <i class="fa fa-user" aria-hidden="true"></i> {{list.courseHours}}
                          </div>
                          <div class="rating">
                              <i class="fa fa-star" aria-hidden="true"></i> 4.5
                          </div>
                      </div>
                      <div class="course-fee h-100">
                          <a href="#" class="free">{{list.coursePrice}}</a>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>