

<!-- ##### Popular Courses Start ##### -->
<section class="popular-courses-area section-padding-100-0" style="background-image: url(img/core-img/texture.png);">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-heading">
                  <h3>Popular Online Courses</h3>
              </div>
          </div>
      </div>

      <div class="row">
          <!-- Single Popular Course -->
          <div @fadIn  class="col-12 col-md-6 col-lg-4 box-course" *ngFor = 'let item of bestList'>
              <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                  <img src="img/bg-img/c1.jpg" alt="">
                  <!-- Course body -->
                  <div class="course-content">
                      <h4>{{item.coursename}}</h4>
                      <div class="meta d-flex align-items-center">
                          <a href="#">{{item.trainerNamr}}</a>
                          <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                          <a href="#">Art &amp; Design</a>
                      </div>
                      <p>{{item.descripation}}</p>
                  </div>
                  <!-- Seat Rating Fee -->
                  <div class="seat-rating-fee d-flex justify-content-between">
                      <div class="seat-rating h-100 d-flex align-items-center">
                          <div class="seat">
                              <i class="fa fa-user" aria-hidden="true"></i> 10
                          </div>
                          <div class="rating">
                              <i class="fa fa-star" aria-hidden="true"></i> 4.5
                          </div>
                      </div>
                      <div class="course-fee h-100">
                          <a href="#" class="free">{{item.coursePrice}}</a>
                      </div>
                  </div>
              </div>
          </div>

          

          
      </div>
  </div>
</section>
<!-- ##### Popular Courses End ##### -->

<app-teacher></app-teacher>